
/* EventList */

.eventlist_imagebox
{
	float:left;
	position:absolute;
	left:0px;
	height:55px;
	width:55px;	
}

.eventlist_textbox
{
	float:left;
	position:absolute;
	left:60px;
	width:255px;
	height:60px;
	
	overflow:hidden;
	white-space:nowrap;
	text-overflow: hidden;
	-o- text-overflow: hidden;
}

.eventlist_textbox place
{
	position:relative;
	float:left;
	left:0;
	top:5px;
	height:30px;
	width:255px;
	font-family: "Century Gothic", Arial, serif;
	font-size:20px;
	font-weight:bold;
	color:white;
	overflow:hidden;
	white-space:nowrap;
}

.eventlist_textbox date
{
	position:relative;
	float:left;
	left:0;
	top:0px;
	height:25px;
	width:255px;
	font-family: "Century Gothic", Times, serif;
	font-size:12px;
	color:#CCC; 
	overflow:hidden;
	white-space:nowrap;
}

.eventlist_imagebox img
{
	position:relative;
	top: 2px;;
	left:2px;;
	width:51px;
	height:51px;
	SRC="profile.png"
}


.list_class {
   min-height: 65px;
   box-sizing: none;
}

