
/* Wayword Panel Menu */

.menu_who
{
	position:absolute;
	top: 24px;
	left: 1px;
	width:105px;
	height:40px;
	SRC="who.png";
	z-index:10;
}

.menu_where
{
	position:absolute;
	top: 24px;
	left: 108px;
	width:105px;
	height:40px;
	SRC="where.png";
	z-index:11;
}

.menu_when
{
	position:absolute;
	top:24px;
	left: 215px;
	width:105px;
	height:40px;
	SRC="when.png";
	z-index:12;
}

.menu_grey
{
    opacity : 0.5;
    filter: alpha(opacity=50); // msie
    background-color: #000;
}

.menu_panelwho 
{
	float:left;
	position:absolute;
	top:0px;
	left:0px;
	width:107px;
	height:390px;
	SRC="who_a.jpg";
	overflow:hidden;
}

.menu_panelwho img
{
	width:auto; 
	height:100%;
	margin: 0px -129px 0px -277px; /*top right bottom left*/
    
    -webkit-animation-name: slide_anim;
    -webkit-animation-duration: 160.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}


.menu_panelwhere 
{
	float:left;
	position:absolute;
	top:0px;
	left:107px;
	width:107px;
	height:390px;
	SRC="where_a.jpg";
	overflow:hidden;
}

.menu_panelwhere img
{
	width:auto; 
	height:100%;
	margin: 0px 0px 0px -186px; /*top right bottom left*/
	
    -webkit-animation-name: slide_anim;
    -webkit-animation-duration: 180.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}

.menu_panelwhen 
{
	float:left;
	position:absolute;
	top:0px;
	left:214px;
	width:106px;
	height:390px;
	SRC="when_a.jpg";
	overflow:hidden;
}

.menu_panelwhen img
{
	width:auto; 
	height:100%;
	margin: 0px -184px 0px -302px; /*top right bottom left*/
	
    -webkit-animation-name: slide_anim;
    -webkit-animation-duration: 140.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}

@-webkit-keyframes slide_anim
{
    0% 
    {
        -webkit-transform: translate(0px,0px);
    }
    50% 
    {
        -webkit-transform: translate(150px,0px);
    }
    100% 
    {
        -webkit-transform: translate(0px,0px); 
    }
}

.menu_panelwho img:active
{
    opacity: 0.5;
}

.menu_panelwhere img:active
{
    opacity: 0.5;
}

.menu_panelwhen img:active
{
    opacity: 0.5;
}





